<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ一覧
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <!--@recipesという配列から一つずつ取り出し、recipeに格納している-->
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <!--レシピの詳細画面に遷移、引数にどのレシピに遷移するかを指定-->
                <%= link_to recipe_path(recipe) do %>
                <!--変数recipeに入っている画像を表示-->
                  <%= attachment_image_tag recipe, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <!--ユーザーの詳細画面に遷移、レシピに紐づくユーザーに遷移するので引数に指定-->
                    <%= link_to user_path(recipe.user) do %>
                    <!--レシピに紐づいているユーザーのプロフィール画像の表示-->
                    <!--デフォルトの画像も表示-->
                     <%= attachment_image_tag recipe.user, :profile_image, fallback: "no_image.jpeg", class: "profile_image" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <!--変数recipeに紐づくユーザーのユーザーネーム（カラム）-->
                  <!--ユーザーの詳細画面に遷移、レシピに紐づくユーザーに遷移するので引数に指定-->
                  <div class="title"><%=link_to recipe.user.username, user_path(recipe.user) %></div>
                </div>
              </div>

              <div class="content">
                <!--更新日時の表示-->
                <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>